<div class="blog-header">
    <h1 class="blog-title">Hangman (game)</h1>
    <p class="lead blog-description">Hangman is a paper and pencil guessing game for two or more players. One player thinks of a word, phrase or sentence and the other tries to guess it by suggesting letters or numbers, within a certain number of guesses.</p>
</div>
<div class="row">
    <div class="col-sm-8 blog-main">
        <div class="blog-post" ng-if="homeCtrl.isPlayNow">
            <a class="blog-nav-item" ui-sref="public.game" >
                <h2 class="blog-post-title">Continue Game</h2>
            </a>
        </div>
        <div class="blog-post" ng-if="!homeCtrl.isPlayNow">
            <a class="blog-nav-item" ui-sref="public.game" >
                <h2 class="blog-post-title">Start New Game</h2>
            </a>
        </div>
    </div>
</div>